:root {
  --blue: #009ddc;
  --white: hsl(0, 0%, 95%);
  --lightgrey: hsl(0deg, 0%, 90%);
  --black: hsl(0, 0%, 10%);
  --maroon: #40101b;
  --darkgrey: hsl(0deg, 0%, 20%);
  --mediumgrey: hsl(0deg, 0%, 40%);

  --background: var(--white);
  --background-secondary: var(--darkgrey);
  --accent: var(--maroon);
  --header: var(--darkgrey);
  --text: var(--black);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  height: 100%;
  width: 100%;
}

html, body, dialog, a {
  font-family: sans-serif;
  font-weight: lighter;
  color: var(--text);
}

body {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

header, h1 {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px
}

#logo {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 5px;
}

#icon {
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: 24px;
}

#title {
  grid-column: 2;
  grid-row: 1;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 5px;
  align-self: end;
}

#slogan {
  grid-column: 2;
  grid-row: 2;
  font-size: 10px;
}

#menu {
  grid-column: 3;
}

#lamps {
  display:flex;
  --s: 100px;
  --m: 4px;
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

#container {
  font-size: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 500px;
  margin: 0 auto;
}

#container hover-card {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size:initial;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

#container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
                   #0000 0 calc(var(--f) - 3px),
                   #000  0 var(--f));
}

#practiceAreas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

address {
  display: grid;
  gap: 10px;
}

address a {
  display: grid;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

dialog {
  background: var(--background);
}

#dialogContent {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

dialog p {
  max-height: calc(100vh - 200px);
  width: calc(100vw - 100px);
  max-width: 800px;
  overflow: auto;
}

::backdrop {
  background: black;
  opacity: 0.75;
}

section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}